.header > ul {
  list-style: none;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-start;
  gap: 3rem;
  width: 100%;
}

#submitBtn {
  padding: 8px 24px;
  background: #121211;
  border-radius: 24px;
}

/* * Animations */

#submitBtn:hover {
  transition: all 0.3s ease-in-out;
  background: #f5f5f2;
  color: #121211;
}

.navItem:hover {
  text-decoration: underline;
    transition: all .5s ease-in;
}